---
const pageTitle = "Mi blog"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about/">Sobre mi</a>
		<a href="/blog/">{pageTitle}</a>
		<h1>{pageTitle} de Astro aprendizaje </h1>
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro. </p>
		<ul>
			<li><a href="/posts/post-1/">Publicaión 1</a></li>
			<li><a href="/posts/post-2/">Publicaión 2</a></li>
			<li><a href="/posts/post-3/">Publicaión 3</a></li>
		</ul>

		<h1>Sobre mi</h1>
    <h2>...¡y mi nuevo sitio Astro!</h2>

    <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, ¡y es la primera que eh construido yo mismo!</p>
	<p>Este sitio se ira actualizando a medida que vaya completando más partes del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje! </p>

  </body>
</html>

